.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    background: rgb(54, 54, 54);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: rgb(54, 54, 54);
    cursor: pointer;
}